label {
  font-weight: 500;
}

.input__container {
  color: var(--sub-op-color);
  border: 1px solid var(--sub-op-color);
  transition: 0.4s all;
  border-radius: 3px;
  background: #000;
  padding: 0.5rem 0;

  & .lucide {
    margin: 0 0.45rem;
  }

  & input {
    border: none;
    color: inherit;
    border-left: 1px solid var(--sub-op-color);
    background: #000;
    font-size: 1rem;
    width: fit-content;
    padding-left: 0.5rem;
    outline: none;
  }

  &:has(input:focus),
  &:has(input:focus) input {
    color: var(--sub-color);
    border-color: var(--sub-color);
  }
}

.select__wraper {
  width: 250px;

  & p {
    font-size: 1rem;
    color: var(--sub-color);
    margin-bottom: 0.6rem;
  }

  & .react-select__control {
    & .react-select__single-value,
    .react-select__placeholder {
      color: var(--sub-color) !important;
    }

    color: var(--txt-color);
    background-color: var(--primary-color);
    appearance: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 0.2rem;
    border-color: var(--txt-color);
    box-shadow: 0 0 0 1px var(--highlight-color) !important;

    &:hover {
      color: var(--sub-color);
      border-color: var(--sub-color);
    }
  }

  & .react-select__menu * {
    color: var(--primary-color);
  }
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 50ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

@media screen and (max-width: 768px) {
  .select__wraper {
    width: 175px !important;

    & p {
      font-size: 0.9rem;
      margin-bottom: 0.4rem;
    }

    & .react-select__control {
      font-size: 0.9rem;
      padding: 0 0.2rem;
    }
  }
}
