label {
  font-weight: 500;
}

.input__container {
  color: var(--sub-op-color);
  border: 1px solid var(--sub-op-color);
  transition: 0.4s all;
  border-radius: 3px;
  background: #000;
  padding: 0.5rem 0;

  & .lucide {
    margin: 0 0.45rem;
  }

  & input {
    border: none;
    color: inherit;
    border-left: 1px solid var(--sub-op-color);
    background: #000;
    font-size: 1rem;
    width: fit-content;
    padding-left: 0.5rem;
    outline: none;
  }

  &:has(input:focus),
  &:has(input:focus) input {
    color: var(--sub-color);
    border-color: var(--sub-color);
  }
}

.select__wraper {
  width: 250px;

  & p {
    font-size: 1rem;
    color: var(--sub-color);
    margin-bottom: 0.6rem;
  }

  & .react-select__control {
    & .react-select__single-value,
    .react-select__placeholder {
      color: var(--sub-color) !important;
    }

    background-color: var(--primary-color);
    appearance: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 0.2rem;
    border-color: var(--sub-color);
    box-shadow: 0 0 0 1px var(--highlight-color) !important;

    &:hover {
      color: var(--sub-color);
      border-color: var(--sub-color);
    }
  }

  & .react-select__menu * {
    color: var(--primary-color);
  }
}
