#singleForm {
  width: 700px;

  & span.label {
    display: block;
    font-size: 1rem;
    color: var(--txt-op-color);
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
  }

  & .sF__header {
    width: 100%;
    justify-content: space-between;
    color: var(--sub-color);
  }

  & .sF__body {
    margin: 2rem 1rem;

    & .content {
      height: 250px;
      background-color: var(--sub-color);
      font-weight: 500;
      color: var(--primary-color);
      font-size: 1.7rem;
      padding: 1.1rem;
      border-radius: 8px;
      box-shadow: 0 0 4px var(--sub-color);
      transition: all 0.4s;
    }
  }

  & .sF__button-container {
    width: 100%;
    justify-content: space-around;

    & button {
      width: 100px;
      font-weight: 600;
      font-size: 1.4rem;
    }
  }
}

#singleForm.hasIssue {
  & .sF__body {
    margin: 2rem 1rem 1rem 1rem;

    & .content {
      height: fit-content;
      background-color: var(--primary-color);
      color: var(--sub-color);
      font-weight: 400;
      font-size: 1rem;
      padding: 0.5rem 1.1rem;
      box-shadow: none;
      border: 1px solid var(--sub-op-color);
      border-radius: 8px;
    }
  }

  & form {
    gap: 0.2rem;
    margin-top: 1rem;

    & > div {
      margin: 1rem 0;
    }
  }

  & .sF__button-container {
    justify-content: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #singleForm {
    width: 500px; /* Width for screens <= 768px */

    & span.label {
      margin-bottom: 6px;
    }

    & .sF__body {
      margin: 1.5rem 0.5rem;

      & .content {
        height: 200px;
        font-size: 1.3rem;
        padding: 0.8rem;
        border-radius: 6px;
        box-shadow: 0 0 3px var(--sub-color);
      }
    }

    & .sF__button-container button {
      width: 80px;
      font-size: 1rem;
    }
  }

  #singleForm.hasIssue {
    & .sF__body {
      margin: 2rem 1rem 1rem 1rem;

      & .content {
        font-size: 0.8rem;
        padding: 0.5rem 1.1rem;
        box-shadow: none;
        border: 1px solid var(--sub-op-color);
        border-radius: 4px;
      }
    }

    & form {
      gap: 0.2rem;
      margin-top: 0.7rem;

      & > div {
        margin: 0.7rem 0;
      }
    }

    & .sF__button-container {
      justify-content: center;
      gap: 2rem;
    }
  }
}
