#singleForm {
  width: 700px;

  & span.label {
    display: block;
    font-size: 1rem;
    color: var(--txt-op-color);
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
  }

  & .sF__header {
    width: 100%;
    justify-content: space-between;
    color: var(--sub-color);

    & .tag__container {
      list-style: none;
      display: flex;
      gap: 8px;

      & li {
        background: var(--sub-color);
        color: var(--highlight-color);
        font-weight: 500;
        padding: 0.2rem 0.25rem;
        border-radius: 4px;
      }
    }
  }

  & .sF__body {
    margin: 2rem 1rem;

    & .content {
      height: 250px;
      background-color: var(--sub-color);
      font-weight: 500;
      color: var(--primary-color);
      font-size: 1.7rem;
      padding: 1.1rem;
      border-radius: 8px;
      box-shadow: 0 0 4px var(--sub-color);
      transition: all 0.4s;
    }
  }

  & .sF__button-container {
    width: 100%;
    justify-content: space-around;

    & button {
      width: 100px;
      font-weight: 600;
      font-size: 1.4rem;
    }
  }
}

#singleForm.hasIssue {
  & .sF__body {
    margin: 2rem 1rem 1rem 1rem;

    & .content {
      height: fit-content;
      background-color: var(--primary-color);
      color: var(--sub-color);
      font-weight: 400;
      font-size: 1rem;
      padding: 0.5rem 1.1rem;
      box-shadow: none;
      border: 1px solid var(--sub-op-color);
      border-radius: 8px;
    }
  }

  & textarea {
    color: var(--primary-color);
    padding: 0.5rem 0.8rem;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
    resize: none;
    width: 100%;
    border: none;
    box-shadow: 0 0 4px var(--sub-color);
    border-radius: 8px;
  }

  & form {
    gap: 0.2rem;
    margin-top: 1rem;

    & > div {
      margin: 1rem 0;
    }
  }

  & .sF__button-container {
    justify-content: center;
    gap: 2rem;
  }
}
