#report {
  & .chart {
    background: var(--sub-color);
  }

  & .doughnutChart {
    width: 300px;
    padding: 5px;
    aspect-ratio: 1/1;
  }

  & .overallChart {
    width: 600px;
    aspect-ratio: 2/1;
  }

  & .month_filter {
    margin: 2rem 0;
  }

  & .chart__filter {
    display: flex;
  }
}
