#report {
  & .chart {
    background: var(--sub-color);
  }

  & h1 {
    color: var(--sub-color);
  }

  & .doughnutChart {
    width: 300px;
    padding: 5px;
    aspect-ratio: 1/1;
  }

  & .overallChart {
    width: 600px;
    aspect-ratio: 2/1;
    grid-column: 1 / 3;
  }

  & .month_filter {
    margin: 2rem 0;
  }

  & .chart__filter {
    display: flex;
  }

  & .chart__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }
}
