.finding--container {
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  border: 1px solid var(--sub-op-color);
  border-radius: 8px;
  padding: 2rem 3rem;
  color: var(--sub-color);

  & .status {
    width: fit-content;
    border-radius: 4px;
  }

  & .key {
    flex-shrink: 0;
    width: 150px;
    color: var(--txt-op-color);
  }

  & .finding--row {
    width: 100%;
    align-items: flex-start;

    & div {
      flex-grow: 1;
    }

    & textarea {
      resize: none;
      width: 100%;
      padding: 0.7rem 0.5rem;
    }
  }
}

.finding--nav {
  font-weight: 600;
  width: 100%;
  justify-content: flex-start !important;
  margin-bottom: 1rem;

  & a {
    gap: 10px;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .finding--container {
    gap: 0.6rem;
    padding: 1rem 1.5rem;

    & .key {
      flex-shrink: 0;
      width: 100px;
      color: var(--txt-op-color);
    }

    & .finding--row {
      font-size: 0.9rem;

      & textarea {
        resize: none;
        width: 100%;
        padding: 0.7rem 0.5rem;
      }
    }
  }

  .finding--nav {
    margin-bottom: 0.8rem;

    & a {
      gap: 8px;
      text-decoration: none;
    }
  }
}
